<table class="list issues">
  <tr class="issue current">
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <b><%= l('redmine_tint_issues.settings_label_current_issue_age') %>:</b>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= text_field_tag 'settings[current_issue_age]', settings['current_issue_age'] %>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= select_tag 'settings[current_issue_age_epoch]', options_for_select([['', ""], ["#{l('redmine_tint_issues.settings_label_hours')}", "hours"], ["#{l('redmine_tint_issues.settings_label_days')}", "days"], ["#{l('redmine_tint_issues.settings_label_weeks')}", "weeks"], ["#{l('redmine_tint_issues.settings_label_months')}", "months"] ], settings['current_issue_age_epoch']) %>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= text_field_tag 'settings[current_issue_age_color]', settings['current_issue_age_color'], :class => "color {hash:true}" %>
      </td>
  </tr>
  <tr class="issue old">
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <b><%= l('redmine_tint_issues.settings_label_old_issue_age') %>:</b>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= text_field_tag 'settings[old_issue_age]', settings['old_issue_age'] %>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= select_tag 'settings[old_issue_age_epoch]', options_for_select([['', ""], ["#{l('redmine_tint_issues.settings_label_hours')}", "hours"], ["#{l('redmine_tint_issues.settings_label_days')}", "days"], ["#{l('redmine_tint_issues.settings_label_weeks')}", "weeks"], ["#{l('redmine_tint_issues.settings_label_months')}", "months"] ], settings['old_issue_age_epoch']) %>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= text_field_tag 'settings[old_issue_age_color]', settings['old_issue_age_color'], :class => "color {hash:true}" %>
      </td>
  </tr>
  <tr class="issue older">
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <b><%= l('redmine_tint_issues.settings_label_older_issue_age') %>:</b>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= text_field_tag 'settings[older_issue_age]', settings['older_issue_age'] %>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= select_tag 'settings[older_issue_age_epoch]', options_for_select([['', ""], ["#{l('redmine_tint_issues.settings_label_hours')}", "hours"], ["#{l('redmine_tint_issues.settings_label_days')}", "days"], ["#{l('redmine_tint_issues.settings_label_weeks')}", "weeks"], ["#{l('redmine_tint_issues.settings_label_months')}", "months"] ], settings['older_issue_age_epoch']) %>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= text_field_tag 'settings[older_issue_age_color]', settings['older_issue_age_color'], :class => "color {hash:true}" %>
      </td>
  </tr>
  <tr class="issue veryold">
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <b><%= l('redmine_tint_issues.settings_label_veryold_issue_age') %>:</b>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= text_field_tag 'settings[veryold_issue_age]', settings['veryold_issue_age'] %>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= select_tag 'settings[veryold_issue_age_epoch]', options_for_select([['', ""], ["#{l('redmine_tint_issues.settings_label_hours')}", "hours"], ["#{l('redmine_tint_issues.settings_label_days')}", "days"], ["#{l('redmine_tint_issues.settings_label_weeks')}", "weeks"], ["#{l('redmine_tint_issues.settings_label_months')}", "months"] ], settings['veryold_issue_age_epoch']) %>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= text_field_tag 'settings[veryold_issue_age_color]', settings['veryold_issue_age_color'], :class => "color {hash:true}" %>
      </td>
  </tr>
  <tr class="issue ancient">
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <b><%= l('redmine_tint_issues.settings_label_ancient_issue_age') %>:</b>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= l('redmine_tint_issues.settings_label_nochoice') %>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= text_field_tag 'settings[ancient_issue_age_color]', settings['ancient_issue_age_color'], :class => "color {hash:true}" %>
      </td>
  </tr>
</table>

<table class="list issues">
  <tr class="issue hasduedate">
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <b><%= l('redmine_tint_issues.settings_label_hasduedate') %>:</b>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= l('redmine_tint_issues.settings_label_nochoice') %>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= text_field_tag 'settings[hasduedate_color]', settings['hasduedate_color'], :class => "color {hash:true}" %>
      </td>
  </tr>
  <tr class="issue due">
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <b><%= l('redmine_tint_issues.settings_label_due') %>:</b>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= text_field_tag 'settings[due_since]', settings['due_since'] %>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= select_tag 'settings[due_since_epoch]', options_for_select([['', ""], ["#{l('redmine_tint_issues.settings_label_hours')}", "hours"], ["#{l('redmine_tint_issues.settings_label_days')}", "days"], ["#{l('redmine_tint_issues.settings_label_weeks')}", "weeks"], ["#{l('redmine_tint_issues.settings_label_months')}", "months"] ], settings['due_since_epoch']) %>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= text_field_tag 'settings[due_since_color]', settings['due_since_color'], :class => "color {hash:true}" %>
      </td>
  </tr>
  <tr class="issue moredue">
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <b><%= l('redmine_tint_issues.settings_label_moredue') %>:</b>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= text_field_tag 'settings[moredue_since]', settings['moredue_since'] %>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= select_tag 'settings[moredue_since_epoch]', options_for_select([['', ""], ["#{l('redmine_tint_issues.settings_label_hours')}", "hours"], ["#{l('redmine_tint_issues.settings_label_days')}", "days"], ["#{l('redmine_tint_issues.settings_label_weeks')}", "weeks"], ["#{l('redmine_tint_issues.settings_label_months')}", "months"] ], settings['moredue_since_epoch']) %>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= text_field_tag 'settings[moredue_since_color]', settings['moredue_since_color'], :class => "color {hash:true}" %>
      </td>
  </tr>
  <tr class="issue verydue">
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <b><%= l('redmine_tint_issues.settings_label_verydue') %>:</b>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= text_field_tag 'settings[verydue_since]', settings['verydue_since'] %>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= select_tag 'settings[verydue_since_epoch]', options_for_select([['', ""], ["#{l('redmine_tint_issues.settings_label_hours')}", "hours"], ["#{l('redmine_tint_issues.settings_label_days')}", "days"], ["#{l('redmine_tint_issues.settings_label_weeks')}", "weeks"], ["#{l('redmine_tint_issues.settings_label_months')}", "months"] ], settings['verydue_since_epoch']) %>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= text_field_tag 'settings[verydue_since_color]', settings['verydue_since_color'], :class => "color {hash:true}" %>
      </td>
  </tr>
  <tr class="issue overdue">
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <b><%= l('redmine_tint_issues.settings_label_overdue') %>:</b>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= l('redmine_tint_issues.settings_label_nochoice') %>
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
      </td>
      <td align="left" width="33%" style="text-align:left;width=33%;">
          <%= text_field_tag 'settings[overdue_color]', settings['overdue_color'], :class => "color {hash:true}" %>
      </td>
  </tr>
</table>

<fieldset class="box"><legend><%= l('redmine_tint_issues.label_issue_age_base') %></legend>
  <p>
    <%= label_tag( 'settings[age_by_creation_date]', l('redmine_tint_issues.label_age_by_creation_date')) %>
    <%= radio_button_tag( 'settings[age_by_creation_date]', '1', settings['age_by_creation_date'] == '1') %>
    <%= content_tag(:a,    l(:label_help), :href => "#", :class => "icon icon-help", :title => l(:label_help), :onclick => "$('#help_settings_age_by_creation_date').toggle(); return false;" ) %>
    <%= content_tag(:span, l('redmine_tint_issues.help_settings_age_by_creation_date'), :id => 'help_settings_age_by_creation_date', :style => 'display:none;') %>
  </p>
  <p>
    <%= label_tag( 'settings[age_by_creation_date]', l('redmine_tint_issues.label_age_by_update_date')) %>
    <%= radio_button_tag( 'settings[age_by_creation_date]', '0', settings['age_by_creation_date'] == '0') %>
    <%= content_tag(:a, l(:label_help), :href => "#", :class => "icon icon-help", :title => l(:label_help), :onclick => "$('#help_settings_age_by_update_date').toggle(); return false;" ) %>
    <%= content_tag(:span, l('redmine_tint_issues.help_settings_age_by_update_date'), :id => 'help_settings_age_by_update_date', :style => 'display:none;') %>
  </p>
</fieldset>

<%= javascript_include_tag "jscolor.js", :plugin => "redmine_tint_issues" %>

<%= content_for :header_tags do -%>
  <%= stylesheet_link_tag "redmine_tint_issues.css", :plugin => "redmine_tint_issues" %>
<%- end %>
